@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu+Mono&display=swap');

html {
    --font-family: 'Roboto Mono', monospace;
    --font-family-monospace: 'Fira Mono', monospace;

    --page-font-size: 16.5px;
    --navigation-font-size: 16px;
    --code-font-size: 17px;
    --title-font-size: 22px;
}

html.dark-mode {
    --page-background-color: #111213;
    --side-nav-background: #0c0812;
}
