bin/

dev/

build/

.vscode/

.history

.cache/

.ignore/

__pycache__/

*.tga

# *.png

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# System Headers
/usr/include/c++

# Conan libraries
**/.conan/data
