<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <common>
        <log>
            <!-- Has effect in POSIX & Windows desktop apps only -->
            <entry key="writeToConsole" value="true" />

            <entry key="purgeCount" value="10" />

            <!-- The maximum age a log file (in days) can reach before being purged -->
            <entry key="purgeAge" value="365" />

            <!-- For Windows (Phone) Store apps, this is the only parameter that applies for logging.
                 It determines the maximum size (in KB) the text log can reach before it is shifted to a
                 new one. After that, the old file is compacted and moved to the app temporary data store. -->
            <entry key="sizeLimit" value="2048" />
        </log>
    </common>

    <framework>
        <dependencies>
            <!-- Has effect in POSIX & Windows desktop apps only -->
            <entry key="opencl" value="false" />
        </dependencies>

        <stackTracing>
            <!-- The initial reserved capacity for the container which stores the stack trace -->
            <entry key="logInitialCap" value="64" />
        </stackTracing>

        <gc>
            <entry key="msgLoopSleepTimeoutMillisecs"  value="100" />
            <entry key="memoryBlocksPoolInitialSize"   value="128" />
            <entry key="memoryBlocksPoolGrowingFactor" value="1.0" />
            <entry key="sptrObjsHashTabInitSizeLog2"   value="8" />

            <!-- Should be less than 0.75 at most, so as to avoid
                 the performance degradation of linear probing -->
            <entry key="sptrObjsHashTabLoadFactorThreshold" value="0.7" />
        </gc>

        <!-- OpenCL module is only present in POSIX & Windows desktop apps: -->
        <opencl>
            <entry key="maxSourceCodeLineLength" value="128" />
            <entry key="maxBuildLogSize"         value="5120" />
        </opencl>

        <!-- ISAM module is only present in Windows platform: -->
        <isam>
            <entry key="useWindowsFileCache" value="true" />
        </isam>

        <broker>
            <entry key="dbConnTimeoutSecs" value="15" />
            <entry key="dbConnMaxRetries"  value="10" />
        </broker>

        <!-- RPC module is only present in Windows platform: -->
        <rpc>
            <entry key="cliSrvConnectMaxRetries"  value="10" />
            <entry key="cliSrvConnRetrySleepSecs" value="3" />
            <entry key="cliCallMaxRetries"        value="10" />

            <!-- time interval for simple retry -->
            <entry key="cliCallRetrySleepMs" value="500" />

            <!-- time slot for retry with exponential back-off -->
            <entry key="cliCallRetryTimeSlotMs" value="250" />
        </rpc>

        <!-- WWS module is only present in Windows platform: -->
        <wws>
            <entry key="proxyConnMaxRetries" value="10" />
            <entry key="proxyCallMaxRetries" value="10" />

            <!-- time interval for simple retry -->
            <entry key="proxyCallRetrySleepSecs" value="3" />

            <!-- time slot for retry with exponential back-off -->
            <entry key="proxyCallRetryTimeSlotMs" value="500" />
        </wws>
    </framework>

    <application>
        <!-- Here you can insert settings for your application IN A FLAT HIERARCHY-->
    </application>
</configuration>
