name: Export

on:
  pull_request:
    paths:
      - '.github/workflows/export.yml'
      - 'recipes/**'
  push:
    branches:
      - master
    paths:
      - '.github/workflows/export.yml'
      - 'recipes/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

env:
  CONAN_REMOTE_NAME: xrplf
  CONAN_REMOTE_URL: https://conan.ripplex.io

jobs:
  export:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - name: Install Conan
        uses: conan-io/setup-conan@09566912d661de90608308897a4d513e850c04e8 # v1.2.0
      - name: Export the recipes
        working-directory: recipes
        run: |
          conan export grpc/all --version=1.72.0
          conan export m4/all --version=1.4.19
          conan export snappy/all --version=1.1.10
          conan export soci/all --version=4.0.3
          conan export wasm-xrplf/all --version=2.4.1-xrplf
      - name: Add Conan remote
        run: |
          conan remote add --index 0 ${{ env.CONAN_REMOTE_NAME }} ${{ env.CONAN_REMOTE_URL }}
          echo "Added new conan remote '${{ env.CONAN_REMOTE_NAME }}' at ${{ env.CONAN_REMOTE_URL }}."
      - name: Upload the recipes (dry run)
        run: conan upload '*' --confirm --check --only-recipe --remote ${{ env.CONAN_REMOTE_NAME }} --dry-run
      - name: Log into Conan remote
        if: ${{ github.repository_owner == 'XRPLF' && github.event_name == 'push' }}
        run: |
          conan remote login ${{ env.CONAN_REMOTE_NAME }} ${{ secrets.CONAN_REMOTE_USERNAME }} --password "${{ secrets.CONAN_REMOTE_PASSWORD }}"
          conan remote list-users
      - name: Upload the recipes
        if: ${{ github.repository_owner == 'XRPLF' && github.event_name == 'push' }}
        run: conan upload '*' --confirm --check --only-recipe --remote ${{ env.CONAN_REMOTE_NAME }}
