name: "[linter] Conan v2 migration"

on:
  pull_request:

env:
  PYTHONPATH: ${{github.workspace}}
  PYVER: "3.8"
  SCORE_THRESHOLD: "9.5"

jobs:
  test_linter:
    name: Test linter changes (v2 migration)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Get changed files
        uses: ./.github/actions/pr_changed_files
        id: changed_files
        with:
          files: |
            linter/**
      - name: validate conanfile.py files
        uses: ./.github/actions/conanfile_validation
        if: steps.changed_files.outputs.any_changed == 'true' && always()
        with:
          python_version: ${{ env.PYVER }}
          files: recipes/*/*/conanfile.py
          rcfile: linter/pylintrc_recipe
          report_name: recipe
      - name: validate test/conanfile.py files
        uses: ./.github/actions/conanfile_validation
        if: steps.changed_files.outputs.any_changed == 'true' && always()
        with:
          python_version: ${{ env.PYVER }}
          files: recipes/*/*/test_*/conanfile.py
          rcfile: linter/pylintrc_testpackage
          report_name: test_package

      - name: Create report
        if: steps.changed_files.outputs.any_changed == 'true' && always()
        run: |
          echo '> Note.- Check uploaded artifacts for a full report.' >> $GITHUB_STEP_SUMMARY

  conanfile_recipe:
    name: Lint changed conanfile.py (v2 migration)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Get changed files
        id: changed-files
        uses: ./.github/actions/pr_changed_files
        with:
          files: |
            recipes/*/*/conanfile.py
      - name: validate conanfile.py files
        uses: ./.github/actions/conanfile_validation
        if: steps.changed-files.outputs.any_changed == 'true'
        with:
          python_version: ${{ env.PYVER }}
          files: ${{ steps.changed-files.outputs.all_changed_files }}
          rcfile: linter/pylintrc_recipe

  conanfile_test_package:
    name: Lint changed test_package/conanfile.py (v2 migration)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Get changed files
        id: changed-files
        uses: ./.github/actions/pr_changed_files
        with:
          files: |
            recipes/*/*/test_*/conanfile.py
      - name: validate test/conanfile.py files
        uses: ./.github/actions/conanfile_validation
        if: steps.changed-files.outputs.any_changed == 'true'
        with:
          python_version: ${{ env.PYVER }}
          files: ${{ steps.changed-files.outputs.all_changed_files }}
          rcfile: linter/pylintrc_testpackage
